<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<title>{{title}}|{{caption}}
	</title>

	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="width=device-width" initial-scale="1.0" />
	<meta property="og:image" content="" />

	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
	<link rel="stylesheet" href="{% static 'css/fadeshow.min.css' %}" type="text/css" />

	<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>	
	<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
	<script src="/static/js/jquery.fadeshow.min.js" type="text/javascript"></script>
</head>
<body>
	<header>
		<section id="top">
			<section class="wrapper">
				<div class="left">
					<a href="#">
						<span class="icon">
							<small>
								
							</small>
						</span><b>+91 9745 232 344</b>
					</a>
				</div>
				<div class="right">
					<span class="icon">
						<small></small>
					</span>
					<span class="icon icon2">
						<small></small>
					</span>
				</div>
				<br class="clear">
			</section>
		</section>
		<section id="bottom">
			<section class="wrapper">
				<h1 class="left logo">
					<a href="" class="thumb">
						<img src="{% static 'images/logo.png' %}" alt="img">
					</a>
				</h1>
				<nav class="right">
					<ul>
						<li><a class="one" href="">HOME</a></li>
						<li><a href="">About us</a></li>
						<li><a href="">Academics</a></li>
						<li><a href="">Achivments</a></li>
						<li><a href="">Gallery</a></li>
						<li><a href="">Faculties</a></li>
						<li><a href="">Events</a></li>
						<li><a href="">Facilities</a></li>
						<li><a href="">Activities</a></li>
						<li><a href="">Contact us</a></li>
					</ul>
				</nav>
				<br class="clear" />
				</h1>
			</section>
		</section>
	</header>
	<section id="spotlight">
		{% for slider in slider_datas %}
			<section class="slider">
				<img alt="" src="{{slider.image.url}}">
				<div class="content">
					<h2><b>KVUPS </b><span><b>PANGODE</b></span></h2>
					<p>K V U P S is an aided school established in 1964 at Palode sub-district, Trivandrum</p>
					<a href="" class="button">EXPLORE</a>
				</div>
			</section>
		{%endfor%}
	</section>
	<section id="about">
		<section class="top">
			<div class="left">
				<img src="{% static 'images/about-us.jpg' %}" alt="image">
			</div>
			<div class="right">
				<h2>WELCOME TO 
					<span>
					 <br>
					KVUPS PANGODE
					</span>
				</h2>
				<p>K V U P S is an aided school established in 1964 at Palode sub-district, Trivandrum, which faced the threat of shutting down due to the lack of students in 1980. Now this school is one of the most commonly studied public schools in Palode sub-district. A concise details about the school’s current activities are given below.</p>
			</div>
			<br class="clear" />
		</section>
		<section class="bottom">
			<section class="wrapper">
				<div class="left box">
					<div class="top">
						<h2>OUR
							<span> <br>
								MISSION
							</span>
						</h2>
					</div>
					<div class="bottom">
						<p>
							Our mission is to play a major role in education sector by providing a quality education through strict discipline based on moral values to achieve this, the harmonious co-operation of the parents, teachers and students are inevitable the satisfied parents, educationaly enlightened scholars, professionaly skilled teachers and a highly principled management are the highlighted features of this institution.
						</p>
					</div>
				</div>
				<div class="right box">
					<div class="top">
						<h2>OUR
							<span> 	<br>
								VISION
							</span>
						</h2>
					</div>
					<div class="bottom">
						<p>
							Our vision is to empower students to accure, demonstrate, articulate and value knowledge and skills that will support them, as a life long learners, to participate in and contribute to the global world and practice. The core value of the school is :respect,tolerance, inclution and excellence.
						</p>
					</div>
				</div>
				<br class="clear" />
			</section>
		</section>
	</section>
	<section id="activities">
		<section class="wrapper">
			<div class="left">
				<h2>SYSTEMATIC ACADEMIC <br>
						<span>
							ACTIVITIES
						</span>
				</h2>
				<p>The annual plan which is prepared before the beginning of the academic year by the PTA and SRG helps in the systematic functioning of the school.</p>
				<a href="" class="button">Read More</a>
			</div>
		<div class="right">
			<img src="{% static 'images/kids.png' %}" alt="">
		</div>
		<br class="clear" />
		</section>
	</section>
	<section id="achievements">
		<section class="wrapper">
			<h2>OUR <br>
				<span>
					ACHIVMENTS
				</span>
			</h2>
			<br class="clear" />	
			<ul class="left">
				{% for achievement in achievement_datas %}
					<li>
						<div class="top">
							<div class="left">
									<img src="{{achievement.image.url}}" alt="image" />
							</div>
							<div class="right">
									<h2>
									{{achievement.heading}}<br><span>{{achievement.sub_heading}}</span></h2>
							</div>
							<br class="clear" />
						</div>
						<div class="bottom">
							<p>{{achievement.content}}</p>
						</div>
					</li>
				{% endfor %}
			</ul>
			<br class="clear" />
		</div>
		</section>
	</section>
	<section id="gallery">
		<section class="wrapper">
			<div class="head">
				<h2>OUR<span>GALLERY</span>
				</h2>
			</div>
			<ul>
				{% for photo in photo_datas %}
					<li><a href=""><img src="{{photo.image.url}}" alt=""></a></li>
				{% endfor %}
			</ul>
			<br class="clear" />
			<a href="" class="button">View More</a>
		</section>
	</section>
	<section id="banner">
		<section class="wrapper">
			<h5>Our sister Concern</h5>
			<h3>Model English School Pangode</h3>
		</section>
	</section>
	<section id="innovations">
		<section class="wrapper">
			<div class="head">
				<h2>Our New <br>
				Innovations</h2>
			</div>
			<ul class="left">
				<li class="card">
					<a href="" class="thumb"><img src="{% static 'images/grolius.png' %}" alt=""></a><h3>GROLIUS</h3>
					<p>Talrop Grolius is an innovative creation in every respect. Almost 90% of the people find the internet alien and often inaccasible and most of the times are left helpless and bewildered in the "cyber-rush". Small scake business entrepreneurs find it difficult to compete in the market without the internet facilities. It is therefore the ardent wish of the team at Talrop Grolius to assist all those who seek to venture into the world of internet.</p>
					<a href="" class="button">Explore</a>
				</li>
				<li class="card"><a href="" class="thumb"><img src="{% static 'images/techies_park.png' %}" alt=""></a><h3>TECHIES PARK</h3>
				<p>    Techies Park is an innovative project from Talrop Educations Private Limited emerging in every assembly constituency. It focuses on empowering each and every person in an assembly constituency using technology in all areas of education, business as well as IT. A lot many business firms related to the Education, Technology and Business are currently there in Techies Park and many more are yet to come.
    			</p>
				<a href="" class="button">Explore</a>
			   </li>
			   </ul>
			   <br class="clear">
		</section>
	</section>
	<section id="testimonial">
		<section class="wrapper">
			<div class="head">
				<h2>OUR <br>
				<span> TESTIMONIALS</span></h2>
			</div>
			<ul left>
				{% for testimonial in testimonial_datas %}
					<li class="testimonial">
						<div class="left thumb">
							<img src="{{testimonial.image.url}}"alt="">
						</div>
						<div class="right">
						<p>{{testimonial.content}}</p> 
						<h5>{{testimonial.name}}
							<span>{{testimonial.designation}}</span>
						</h5>
						</div>
						<br class="clear" />
					</li>
				{% endfor %}
			</ul>
			<br class="clear" />
		</section>
	</section>
	<section id="news">
		<section class="wrapper">
			<div class="head">
				<h2>LATEST 
					<span>
					NEWS AND EVENTS
					</span>
				</h2>
			</div>			
			<ul class="left">
				{% for news in news_datas %}
					<li>
						<div class="top">
							<img src="{{news.image.url}}" alt="">
						</div>
						<div class="bottom">
							<h3>{{news.heading}}
								<span>{{news.sub_heading}}</span>
							</h3>
							<p>{{news.content}}</p>
							<h5>{{news.time}}</h5>
							<br class="clear" />
						</div>
					</li>
				{% endfor %}
			</ul> 
			<br class="clear " />	
		</section>
	</section>
	<section id="messages">
		<section class="wrapper">
			<div class="message1">
				<h2>MANAGER'S <br><span>MESSAGE</span></h2>
				<img src="{% static 'images/message-1.jpg' %}" alt="">
				<h3>MR,LATHEEF</h3>
				<h5>(MD HERCULES GROUP)</h5>
				<p>Our school is running with an aim, to provide our students a quality education equivalent to metropolitan cities or beyond the Navodaya Vidyalaya. I'm very glad to know that our school has made a model for others in the field of education. I thank teachers, PTA, former students and public who gave support to achieve greatness.</p>
			</div>
			<div class="message2">
				<h2>HEAD MASTER'S <br><span>MESSAGE</span></h2>
				<img src="{% static 'images/message-2.jpg' %}" alt="">
				<h3>MR,ANZARI</h3>
				<h5>(MA,B.ED,TTC)
</h5>
				<p>Schools are not only the center for teaching letters but also have the responsibility to find out the ability of students and make them to live in any circumstances,even unfavourable. We try to provide the facility to learn, through seeing, hearing and experiencing from the nature and curriculum. Here we provide modern technologies to students to create new opportunities by themselves and to become better individuals.</p>
			</div>
			<br class="clear" />
		</section>
	</section>
	<section id="counts">
		<section class="wrapper">
			<div class="widget">
				<span class="icon"></span>
				<h4>534 <br> STUDENTS</h4>
			</div>
			<div class="widget">
				<span class="icon"></span>
				<h4>21 <br> TEACHERS</h4>
			</div>
			<div class="widget">
				<span class="icon"></span>
				<h4>16 <br> DIVISIONS</h4>
			</div>
			<div class="widget">
				<span class="icon"></span>
				<h4>19 <br> CLUBS</h4>
			</div>
			<br class="clear" />
		</section>
	</section>
	<section id="faculties">
		<section class="wrapper">
			<div class="head">
				<h2>OUR <span>FACILITIES</span></h2>
			</div>
			{% for facility in facility_datas %}
				<div class="faculty">
					<span>
						<img src="{{facility.image.url}}">
					</span>
					<h3>{{facility.heading}}</h3>
					<p>{{facility.content}}</p>
				</div>
			{% endfor %}
			<br class="clear" />
		</section>
	</section>
	<section id="activities2">
		<section class="wrapper">
			<div class="head">
				<h2>OUR <br>
					<span>
						ACTIVITIES
					</span>
				</h2>
			</div>
			{% for activity in activity_datas %}
				<div class="activity">
					<div class="left thumb">
						<img src="{{activity.image.url}}" alt="">
					</div>
					<div class="right">
						<h3>{{activity.heading}}<br> <span>{{activity.sub_heading}}</span></h3>
						<p>{{activity.content}}</p>
					</div>
					<br class="clear" />
				</div>
			{% endfor %}
			<a href="" class="button">View More</a>
		</section>
	</section>
	<section id="videos">
		<section class="wrapper">
			<div class="head">
				<h2>OUR <span>VIDEO GALLERY</span></h2>
			<ul>
				{% for videogallery in videogallery_datas %}
					<li>
						<div class="top">
							<a href="">
								<img class="icon" src="{% static 'images/photo7.jpg' %}" alt="">
								<img src="{{videogallery.video_url}}" alt="">
							</a>
						</div>
						<div class="bottom">
							<h4>{{videogallery.heading}}</h4>
						</div>
					</li>
				{% endfor %}
			</ul>
			<br class="clear" />	
			</div>
		</section>
	</section>
	<section id="contact">
		<section class="left">
				<div class="map" id="map_canvas" style="height: 450px;">&nbsp;</div>
					<script type="text/javascript" src="https://maps.google.com/maps/api/js?v=3&key=AIzaSyAzdh7lxduLdiOgSXoJ15X2HMKI4pHpJoA"></script>
					<script type="text/javascript">		
						var map;
						var lat_id = 8.759975; 
							var long_id = 76.956322;
					    function initialize(){
					        var myLatlng = new google.maps.LatLng(lat_id,long_id);
					        var myOptions = {
								zoom: 18,
								center: myLatlng,
								mapTypeId: google.maps.MapTypeId.ROADMAP
					        };
					        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
					        
					        google.maps.event.addListener(map, 'zoom_changed', function(){
					            setTimeout(moveToDarwin, 1500);
					        });
					        
					        var marker = new google.maps.Marker({
					            position: myLatlng,
					            map: map,
					            title: "KVUPS Pangode"
					        });
					        google.maps.event.addListener(marker, 'click', function(){
					            map.setZoom(18);
					        });
					    }
					    
					    function moveToDarwin(){
					        var darwin = new google.maps.LatLng(lat_id,long_id);
					        map.setCenter(darwin);
					    }
					    
						initialize();	
					</script>
				</div>
		</section>	
		<section class="right">
			<h3>LOCATION AND<span><br>CONTACT</span>
			</h3>
			<div class="details">
				<div class="contact">
					<a href="">
						<b>+91 9745 232 344 </b>
						<small class="mobile"></small><br>
						<b>kvupspangode@gmail.com</b>
						<small class="mail"></small> <br>
						<span>
							<b>K V U P S pazhavila</b>
							<small class="location"></small>
							<b><br> Pangode,<br>
							Thiruvanamthapuram,
							<br>pin-695609 </b>
						</span>
					</a>
				</div>
			</div>
		</section>
		<br class="clear" />
	</section>
	<footer>
		<section class="top">
			<section class="wrapper">
				<div class="item">
					<h4>K V U P S PANGODE</h4>
					<p>K V U P S is an aided school established in 1964 at Palode sub-district, Trivandrum. This is the first rural school to receive ISO Certification.</p>
				</div>
				<div class="item">
					<h1><a href="" class="thumb"><img src="" alt="">KVUPS</a></h1>
				</div>
				<div class="item">
					<h4>ABOUT US</h4>
					<p>K V U P S is an aided school established in 1964 at Palode sub-district, Trivandrum, which faced the threat of shutting down due to the lack of students in 1980. Now this school is one of the most commonly studied public schools in Palode sub-district.</p>
				</div>
				<br class="clear" />
			</section>
		</section>
		<section class="bottom">
			<section class="wrapper">
				<p>© 2018 KVUPS Pangode. All right reserved.
					<a href=""> | Developed by Grolius</a>
				</p>
			</section>
		</section>
	</footer>
</body>
</html>