                   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, section, article, aside, nav, footer, address {
	display: block;
}
@font-face {
    font-family: 'american_captainregular';
    src: url('../fonts/american_captain-webfont.woff2') format('woff2'),
         url('../fonts/american_captain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nunitoregular';
    src: url('../fonts/nunito-regular-webfont.woff2') format('woff2'),
         url('../fonts/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
	font-family: 'nunitoregular', Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #555;
	min-width:320px;
	overflow-x: hidden;
}
input,textarea,select{
	font-family: Arial, Helvetica, sans-serif;
}
a{
	color: #555;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
}
.hidden{
	display:none;
}
.left {
	float: left;
}
.right {
	float: right;
}
br.clear {
	clear: both;
	line-height: 0;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
#top{

}
#top header .top{
    background: #7eb244;
    background: -webkit-linear-gradient(to right, #7eb244, #43C6AC);
    background: linear-gradient(to right, #7eb244, #43C6AC);
    padding:6px 0;
}
#top header .top .phone{
    float:left;
    
}
#top header .top .social{
    float:right;
}
#top header .top .phone a{
    display:flex;
    align-items:center;
}
#top header .top .phone a span{
    display:inline-block;
    width:20px;
    height:20px;
    background:url(../images/sprite.png);
    margin-right:15px;
}
#top header .top .phone b{
    line-height:20px;
    color:#fff;
    font-size:15px;
}
#top header .top .phone a span.mobile{
    background-position: -3px -230px;
   
}

#top header .top .social a span.facebook{
    display:inline-block;
    width:24px;
    height:22px;
    background:url(../images/sprite.png);
    background-position: -3px -4px;
}
#top header .top .social a span.google{
    display:inline-block;
    width:24px;
    height:22px;
    background:url(../images/sprite.png);
    background-position: -60px -4px;
}
#top header .bottom h1{
    float:left;
    padding: 30px 0;
}
#top header .bottom h1 a img{
    width:100px;
    margin:15px 0;
}
#top header .bottom nav{
    float:right;
    padding:40px 0;
}
#top header .bottom nav ul li{
    display:inline-block;
    margin-right:30px;
}
#top header .bottom nav ul li.active{
    background: #7eb244;
    padding:10px 25px;
    border-radius:10px;
}
#top header .bottom nav ul li.active a{
    color:#fff;
}
#top header .bottom nav ul li:last-child{
    margin-right:0;
}

#spotlight{
    background-size:cover;
    text-align:center;
    position: relative;
}
#spotlight img{
    width:100%;
    position: absolute;
    left: 0;
    right: 0;
}
#spotlight div.content{
    position: relative;
    z-index: 2;
    padding: 200px 0;
}
#spotlight .bg-transparent {
    background: rgba(0,0,0,.35);
    padding:280px 0;
}
#spotlight h1{
    color:#fff;
    font-size:80px;
    font-weight:bold;
    font-family: 'american_captainregular';
}
#spotlight h1 span{
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
}
#spotlight p{
    color:#fff;
    font-size:20px;
    margin:15px 0;
}
#spotlight a{
    color:#fff;
    font-size:20px;
    background: #7eb244;
    background: -webkit-linear-gradient(to right, #7eb244, #43C6AC);
    background: linear-gradient(to right, #7eb244, #43C6AC);
    display:inline-block;
    padding:10px 40px;
    border-radius:35px;
    border:1px solid #fff;
}
#about .pop-over {
    position: absolute;
    bottom: 0;
    right: -60px;
	width:65%;
}
#about section.image{
    position: relative;
    float: left;
    display: inline-block;
    width:50%;
}
#about section.image img.bg{
    float:left;
    width:100%;
   
}
#about section.content{
    padding:65px 0;
    width:30%;
    float:left;
    text-align:right;
    margin-left:5%;
    
}
#about section.content h3{
    font-size:45px;
    font-weight:bold;
    font-family: 'american_captainregular';
    color:#484653;
}
#about section.content h3 span{
    margin-top:10px;
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
    display:block;
}
section.content p{
    font-size:14px;
    margin:35px 0;
    line-height:25px;
    
}
section.content a{
    color:#fff;
    background: #7eb244;
    background: -webkit-linear-gradient(to right, #7eb244, #43C6AC);
    background: linear-gradient(to right, #7eb244, #43C6AC);
    display:inline-block;
    padding:10px 40px;
    font-size:20px;
    border-radius:25px;
}
#middle{
    background:#f5f5f5;
    padding:50px 0;
}
#middle div.ourmission{
    background:#fff;
    float:left;
    width:48%;
    text-align:center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.04);
}
#middle div.description{
    padding: 30px 15px;
}
#middle div.ourmission div.mission{
    background:url(../images/our-mission.jpg) no-repeat;
    background-size:cover;
    text-align:center;
    padding:43px 0;
}
#middle div.ourmission div.mission h3{
    color:#fff;
    bottom: 0;
    right: 60px;
    font-size:50px;
    text-transform:uppercase;
    font-weight:bold;
    font-family: 'american_captainregular';
}
#middle div.ourmission div.mission h3 span{
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display:block;
    font-weight:bold;
}
#middle div.ourvision{
    background:#fff;
    float:right;
    width:48%;
    text-align:center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.04);
}
#middle div.ourvision div.vision{
    background:url(../images/our-vision.jpg) no-repeat;
    text-align:center;
    padding:43px 0;
}
#middle div.ourvision div.vision h3{
    color:#fff;
    font-size:50px;
    text-transform:uppercase;
    font-weight:bold;
    font-family: 'american_captainregular';
}
#middle div.ourvision div.vision h3 span{
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display:block;
    font-weight:bold;
}
#academics{
    background:url(../images/our-accadamics.jpg) no-repeat;
    background-size:cover;
    padding:115px 0;
    position:relative;

}
#academics div.academics{
    width:45%;
}
#academics div.academics h3{
    color:#fff;
    font-size:45px;
    text-transform:uppercase;
    font-weight:bold;
    font-family: 'american_captainregular';
}
#academics div.academics h3 span{
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display:block;
    font-weight:bold;
}
#academics div.academics p{
    color:#fff;
    line-height:25px;
    margin:40px 0;
    font-size:15px;
    
}
#academics div.academics a{
    color:#fff;
    background: #7eb244;
    background: -webkit-linear-gradient(to right, #7eb244, #43C6AC);
    background: linear-gradient(to right, #7eb244, #43C6AC);
    display:inline-block;
    padding:10px 40px;
    font-size:20px;
    border-radius:25px;
    
}
#academics .pop {
	width:50%;
}
#academics img.pop-over{
	position: absolute;
    bottom: 0;
    right: 150px;
    width:38%;
}
#awards{
    padding:70px 0;
}
#awards .achievements{
    text-align:right;
}
#awards h3{
    color:#484653;
    font-size:50px;
    float:right;
    margin:55px 0;
    font-weight:bold;
    font-family: 'american_captainregular';
}
#awards h3 span{
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display:block;
    font-weight:bold;
}
#awards ul{
	float:left;
}
#awards .box{
    width:30%;
    float:left;
    margin-right:5%;
}
#awards ul li:nth-child(3n){
    margin-right:0;
}
#awards .box h4{
    width:50%;
    float:right;
    font-size:30px;
    color:#484653;
    font-weight:bold;
    line-height:30px;
    font-family: 'american_captainregular';
    margin-top:20px;
}
#awards .box .award{
    background:#f5f5f5;
}
#awards .box h4 span{
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display:block;
    font-weight:bold;
}
#awards .box img{
    width:45%;
    display: inline-block;
   
}
#awards .box p{

    text-align: justify;
} 

#gallery{
    background:#f5f5f5;
    text-align:center;
    padding: 32px 0 0;
}
#gallery h3{
    color:#484653;
    font-size:50px;
    font-weight:bold;
    font-family: 'american_captainregular';
    letter-spacing: 3px;
}
#gallery h3 span{
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
}
#gallery ul{
    float:left;
    margin:20px 0;
}
#gallery ul li{
    float:left;
    width:32%;
    margin-right: 2%;
    margin-bottom: 1%;
}
#gallery ul li:nth-child(3n){
    margin-right: 0;
}
#gallery ul li img{
	width:100%;   
   
}
#gallery ul li a.img{
    display: block;
}
#gallery a.button{
    font-size:20px;
    background: #7eb244;
    background: -webkit-linear-gradient(to right, #7eb244, #43C6AC);
    background: linear-gradient(to right, #7eb244, #43C6AC);
    display:inline-block;
    padding:10px 30px;
    border-radius:25px;
    color:#fff;
    margin-top: 20px;
}
#testimonial{
    background:url(../images/Testimonials-bg.jpg) no-repeat;
    background-size:cover;
    padding:130px 0;
}
#testimonial img{
    border:1px solid #fff;
    float:left;
    width:50%;
    display:inline-block;
}
#testimonial h3{
    color:#fff;
    font-size:45px;
    font-weight:bold;
    margin-bottom:60px;
    font-family: 'american_captainregular';
}
#testimonial h3 span{
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
    display:block;
    line-height:58px;
}
#testimonial ul{
    float:left;
}
#testimonial ul li{
    width:48%;
    float:left;
    margin-right:2%;
    margin-bottom:20px;
    background:#fff;
}
#testimonial ul li:nth-child(2n){
    margin-right:0;
}
#testimonial ul li img{
    float:left;
    width:25%;
    display:block;
    box-sizing:border-box;
}
#testimonial ul li div.content{
    
    float:left;
    width:75%;
    padding:35px 20px;
    box-sizing:border-box;
}
#testimonial ul li div.content h4{
    display:inline-block;
    font-size:16px;
    font-weight:bold;
    color:#484653;
    margin-top:8px;
    
}
#testimonial ul li div.content h4 span{
    font-size:14px;
    
}
#events{
    text-align:center;
    padding:50px 0;
}
#events ul{
	float:left;
}
#events h3{
    font-size:45px;
    margin-bottom:50px;
    color:#484653;
    font-weight:bold;
    font-family: 'american_captainregular';
    padding: 1px;
}
#events h3 span{
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
    line-height:58px;
}
#events li.fest{
    width:32%;
    float:left;
    margin-right:2%;
    margin-bottom: 2%;
}
#events li.fest {
    background: #f5f5f5;
}
#events li:nth-child(3n){
	margin-right:0;
}
#events li.fest img{
	width:100%;
    display:block;
}
#events li.fest p{
	margin-top: 10px;
    margin-bottom: 20px;
	text-align:justify;
}
#events li.fest h6{
	font-size:14px;
	text-align:right;
	color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	
}
#events li.fest div{
    background:#f5f5f5;
    padding: 20px 10px;
}
#events li.fest div h4{
    font-size:30px;
    color:#484653;
    font-weight:bold;
    font-family: 'american_captainregular';
} 
#events li.fest div h4 span{
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
}
#messeges{
    text-align:center;
    padding:75px 0 45px;
    background:#f5f5f5;
}
#messeges div.top{
    width:48%;
    float:left;
    margin-right:2%;
    margin-bottom:75px;
}
#messeges div.top img{
    width:200px;
    display:inline-block;
    margin:25px 0;
    border-radius:130px;
    height: 200px;
}

#messeges div.top h2{
    color:#484653;
    font-size:40px;
    font-weight:bold;
    font-family: 'american_captainregular';
    letter-spacing: 3px;
 }   
#messeges div.top h2 span{
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
    display:block;
}
#messeges div.top h3{
    font-size:30px;
    color:#484653;
    margin-bottom:15px;
    font-weight:bold;
    font-family: 'american_captainregular';
}
#messeges div.top p{
    margin:25px 0;
}
#messeges div.top h4{
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'american_captainregular';
    font-size:25px;
}
#messeges div.top a{
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
#messeges div.bottom{
    float:left;
    width:25%;
    
}
#messeges div.bottom img{
    border-radius:130px;
    width:50%;
    display:inline-block;
}
#messeges div.bottom h3{
    font-size:25px;
    font-family: 'american_captainregular';
    
}
#messeges div.bottom h4{
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'american_captainregular';
    font-size:20px;
}
#messeges div.bottom p{
    margin:20px 0;
    font-size: 15px;
}
#messeges div.bottom a{
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:17px;
}
#bottom{
    background:url(../images/countdown-bg.jpg) no-repeat;
    background-size:cover;
    text-align:center;
    padding:28px 0;
}
#bottom div.countdown{
    float:left;
    width:25%;
    border-right: 2px solid #fff;
    box-sizing:border-box;
}
#bottom div.countdown:nth-child(4n){
    border-right:0;
}
#bottom div.countdown h3{
    color:#fff;
    font-size:35px;
    font-weight:bold;
    font-family: 'american_captainregular';
}
#bottom div.countdown h3 span{
    display:block;
    font-weight:bold;
}
#bottom div.countdown span.image{
    display:inline-block;
    width:114px;
    height:90px;
    background:url(../images/sprite.png);
    background-position: -3px -42px;
    margin-bottom:18px;
}
#bottom div.countdown span.image1{
    display:inline-block;
    width:94px;
    height:94px;
    background:url(../images/sprite.png);
    background-position: -127px -36px;
    margin-bottom:18px;
}
#bottom div.countdown span.image2{
    display:inline-block;
    width:82px;
    height:82px;
    background:url(../images/sprite.png);
    background-position: -237px -42px;
    margin-bottom:18px;
}
#bottom div.countdown span.image3{
    display:inline-block;
    width:74px;
    height:91px;
    background:url(../images/sprite.png);
    background-position: -345px -38px;
    margin-bottom:18px;
}
#gallery {
    padding: 32px 0 50px;
}
#facilities{
    text-align:center;
    padding:95px 0;
 }
#facilities h2{
    font-size:50px;
    font-weight:bold;
    margin-bottom:90px;
    color:#484653;
    font-family: 'american_captainregular';
    letter-spacing: 3px;
}
#facilities h2 span{
    font-weight:bold;
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#facilities div.smart{
    float:left;
    width:25%;
    
}
#facilities div.smart h3{
    margin:25px 0;
    font-weight:bold;
    color:#484653;
    font-family: 'american_captainregular';
    font-size:25px;

}
#facilities div.class{
    float:left;
    width:25%;
    
}
#facilities div.class h3{
    margin:25px 0;
    font-weight:bold;
    color:#484653;
    font-family: 'american_captainregular';
    font-size:25px;
}
#facilities div.class div.back{
    background:#484653;
    width:100px;
    height:100px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto;
}
#facilities div.smart div.back{
    background: #7eb244;
    background: -webkit-linear-gradient(to right, #7eb244, #43C6AC);
    background: linear-gradient(to right, #7eb244, #43C6AC);
    width:100px;
    height:100px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0 auto;
}
#facilities div.class span.image4{
    display:inline-block;
    width:51px;
    height:42px;
    background:url(../images/sprite.png) no-repeat;
    background-position: -3px -139px;
}
#facilities div.smart span.image5{
    display:inline-block;
    width:51px;
    height:58px;
    background:url(../images/sprite.png) no-repeat;
    background-position: -59px -139px;
}
#facilities div.smart span.image6{
    display:inline-block;
    width:49px;
    height:49px;
    background:url(../images/sprite.png) no-repeat;
    background-position: -115px -141px;
}
#facilities div.smart span.image7{
    display:inline-block;
    width:49px;
    height:33px;
    background:url(../images/sprite.png) no-repeat;
    background-position: -170px -148px;
}
#activity{
    background:url(../images/acivities.jpg) no-repeat;
    background-size:cover;
    text-align:center;
    padding:53px 0;
}
#activity h3{
    font-size:50px;
    font-weight:bold;
    color:#fff;
    text-align:left;
    font-family: 'american_captainregular';
}
#activity h3 span{
    font-weight:bold;
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display:block;
}
#activity a{
    font-size:20px;
    background: #7eb244;
    background: -webkit-linear-gradient(to right, #7eb244, #43C6AC);
    background: linear-gradient(to right, #7eb244, #43C6AC);
    display:inline-block;
    padding:10px 30px;
    border-radius:25px;
    color:#fff;
    margin-top: 60px;
}
#activity  div.content{
   background: #fff;
}
#activity  div.content div.img {
    width:50%;
    float:left;
}
#activity  div.content div.img img{
	width:100%;
	display:block;
}
#activity  div.content div.programs {
    float:left;
    background:#fff;
    width:50%;
    padding:30px 30px 128px;
    box-sizing:border-box;
    text-align:left;
    
}
#activity  div.content div.programs h4{
    color:#484653;
    font-size:30px;
    font-weight:bold;
    font-family: 'american_captainregular';
}
#activity  div.content div.programs h4 span{
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
    display:block;
}
#activity  div.content div.programs p{
	font-size:15px;
    margin-top: 15px;
}
#video{
    text-align:center;
    padding:100px 0;
}
#video h3{
    font-size:47px;
    font-weight:bold;
    color:#484653;
    margin-bottom:55px;
    font-family: 'american_captainregular';
    letter-spacing: 3px;
}
#video h3 span{
    font-weight:bold;
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#video .gallery{
	float:left;
	width:30%;
	margin-right:3%;
	
}
#video .gallery a{
    display: block;
    position: relative;
}
#video .gallery img{
	width:100%;
	display:block;
}
#video .gallery .play-button {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90px;
    height: 90px;
    margin: auto;
}
#video .gallery h4{
	font-weight:bold;
	font-size:25px;
	margin-top:40px;
	color:#484653;
	font-family: 'american_captainregular';
}
#video .gallery .image .popover{
    position: absolute;
    bottom: 0;
    right: -60px;
    width:65%;
}
#video .gallery:last-child{
	margin-right:0;
}
#contact{
	background:#f5f5f5;
	
	text-align:left;
}
#contact div.left{
	width:50%;
}
#contact div.left img{
	width:100%;
	display:block;
}
#contact section{
	float:left;
	width:35%;
	text-align:right;
	padding:30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#contact section h3{
	font-size:50px;
	color:#484653;;
	font-weight:bold;
	font-family: 'american_captainregular';
    letter-spacing: 3px;
}
#contact section h3 span{
	color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-weight:bold;
	display:block;
}
#contact section div.box{
	margin-top:10px;
}
#contact section div.box .contact{
	margin-bottom:10px;
}
#contact section div.box .contact div.span{
	width:5%;
	float:left;
}
#contact section div.box .contact div.text{
	width:95%;
	float:left;
}
#contact section div.box .contact p{
	
	
}
#contact section p.dude{
    display: none;
}
#contact section div.box .contact div span.mobile{
	display:inline-block;
    width:20px;
    height:20px;
    background:url(../images/sprite.png) no-repeat;
    background-position: -3px -201px;
}
#contact section div.box .contact div span.gmail{
	display:inline-block;
    width:23px;
    height:17px;
    background:url(../images/sprite.png) no-repeat;
    background-position: -33px -201px;
}
#contact section div.box .contact div span.address{
	display:inline-block;
    width:21px;
    height:28px;
    background:url(../images/sprite.png) no-repeat;
    background-position: -66px -201px;
}

footer #first{
	background: #7eb244;
    background: -webkit-linear-gradient(to right, #7eb244, #43C6AC);
    background: linear-gradient(to right, #7eb244, #43C6AC);
	text-align:center;
	padding:50px;
}

footer #first .widget{
	float:left;
	text-align:left;
	width:33.33%;
}
footer #first .second{
    text-align: right;

}
footer #first .widget img{
	width:50%;
}
footer #first .widget.img{
	
	text-align:center;
}
footer #first .widget h4{
	font-weight:bold;
	font-size:20px;
	color:#fff;
	font-family: 'american_captainregular';
}
footer #first .widget p{
	color:#fff;
}
footer #first .widget:last-child{
	text-align:right;
}
footer #bottom{
	background:#43434f;
	padding:20px 0;
	text-align:center;
    color: #fff;
}
footer #bottom p a{ 
	color:#fff;
}

/* video page*/
#iframe{
    text-align: center;
}
#iframe h3{
    font-size: 30px;
    font-weight: bold;
    font-family: 'american_captainregular';
    margin:30px 0;
}



/* academics section starting */

.inner #spotlight{
	background:url(../images/about-us.jpg) no-repeat center center;
	background-size:cover;
	text-align:center;
	padding:100px 0;
}
.inner #spotlight h1{
	color:#fff;
	font-size:65px;
}
.inner #academics{
	padding:70px 0;
	background:none;
}
.inner #academics .image{
	width:50%;
	margin-right:8%;
	margin-bottom:5%;
	float:left;
}
.inner #academics .image img{
	width:100%;
}
.inner #academics p{
	line-height:1.8em;
	font-size:18px;
}



/* acheivent page starting*/

.inner #spotlight{
	background:url(../images/about-us.jpg) no-repeat center center;
	background-size:cover;
	text-align:center;
	padding:100px 0;
}
#awards{
    padding:70px 0;
}
#awards h3 span{
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display:block;
    font-weight:bold;
}
#awards ul{
	float:left;
}
#awards ul li:nth-child(3n){
    margin-right: 0 !important;
}
#awards .box{
    width:32%;
    float:left;
    margin-right:2%;
    margin-bottom:2%;
}
#awards .box h4{
    width:50%;
    float:right;
    font-size:30px;
    color:#484653;
    font-weight:bold;
    line-height:44px;
    font-family: 'american_captainregular';
    margin-top:20px;
}
#awards .box .award{
    background:#f5f5f5;
}
#awards .box h4 span{
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display:block;
    font-weight:bold;
}
#awards .box img{
    width:45%;
    display: inline-block;
   
}

/* activities page starting*/
#innerspotlight{
    background:url(../images/inner-spotlight-bg.jpg)no-repeat center center;
    background-size:cover;
    text-align:center;
    padding:100px 0;
}
#innerspotlight h1{
    color:#fff;
    font-size:65px;
    font-weight:bold;
    font-family: 'american_captainregular';
}
#activities{
    padding:25px 0;
    
}
#activities ul {
    float: left;
    width: 100%;
}
#activities li{
    float:left;
    width:49%;
    margin-right:2%;
    border:2px solid #7eb244;
    box-sizing:border-box;
    margin-bottom:2%;
}
#activities li:nth-child(2n) {
    margin-right: 0;
}
#activities li .content{
    width:90%;
    background-color:#fff;
    float:left;
    padding:25px 15px;
    box-sizing:border-box;
}
#activities li div.image{
    float: left;
    width: 10%;
}
#activities li div.image div.color-strip {
    background: #000;
    display: block;
}
#activities li div.image div.color-strip.orange {
    background: #FF9800;
}
#activities li div.image div.color-strip.red {
    background: #F44336;
}
#activities li div.image div.color-strip.pink {
    background: #E91E63;
}
#activities li div.image div.color-strip.purple {
    background: #9C27B0;
}
#activities li div.image div.color-strip.deep-purple {
    background: #673AB7;
}
#activities li div.image div.color-strip.indigo {
    background: #3F51B5;
}
#activities li div.image div.color-strip.cyan {
    background: #00BCD4;
}
#activities li div.image div.color-strip.teal {
    background: #009688;
}
#activities li div.image div.color-strip.blue {
    background: #2196F3;
}
#activities li div.image img{
    width: 100%;
    height: 200px;
    display: inline-block;
}
#activities li .content h1{
    font-weight:bold;
    font-size:25px;
    font-family: 'american_captainregular';
}

/* photo-gallery section starting*/
#inner-spotlight{
	background:url(../images/about-us.jpg) no-repeat center center;
	background-size: cover;
}
#inner-spotlight h1{
	font-size:65px;
	color:#fff;
	font-family: 'american_captainregular';
	text-align: center;
	padding:100px;
}
#gallery .links{
     width:50%;
     margin:0 auto;
     text-align: center;
     border:2px solid #7eb244;
     margin-bottom:30px;
    
}
#gallery a.link{
    width:33.33%;
    box-sizing: border-box;
    padding:15px 0;
    float: left;
    font-size:18px;
    font-weight:bold;
}
#gallery .active{
	 border:2px solid ;
	 background-color:#7eb244;
     background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	 color:#fff;	 
}






/* video-gallery section starting*/
	#gallery .active{
	 border:2px solid ;
	 background-color:#7eb244;
     background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	 color:#fff;	 
	}
	#gallery .bottom ul li h4{
		font-size:20px;
		font-family: 'american_captainregular';
	}
	#gallery .bottom ul li{
		width:100%;
        position: relative;
	}
	#gallery .bottom ul li{
		width:32%;
		float: left;
		margin-right:2%;
        margin-bottom: 2%;
	}
	#gallery .bottom ul li:nth-child(3n){
		margin-right:0;
	}
	#gallery .bottom ul li.six{
		margin-right:0;
	}
    #gallery .bottom ul li a{
        display: block;
    }
	#gallery .bottom ul li a .play-button {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 90px;
        height: 90px;
        margin: auto;
    }
	
	

/* events page starts here*/
#fest{
    text-align:center;
    padding:75px 0;
}
#fest ul{
    float:left;
}
#fest h3{
    font-size:45px;
    margin-bottom:50px;
    color:#484653;
    font-weight:bold;
    font-family: 'american_captainregular';
    padding: 1px;
}
#fest h3 span{
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
    line-height:58px;
}
#fest li.fest{
    width:32%;
    float:left;
    margin-right:2%;
    margin-bottom: 2%;
}

#fest li:nth-child(3n){
    margin-right:0;
}
#fest li.fest img{
    width:100%;
    display:block;
}
#fest li.fest p{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align:justify;
}
#fest li.fest h6{
    font-size:14px;
    text-align:right;
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
#fest li.fest div{
    background:#f5f5f5;
    padding: 20px 10px;
}
#fest li.fest div h4{
    font-size:30px;
    color:#484653;
    font-weight:bold;
    font-family: 'american_captainregular';
} 
#fest li.fest div h4 span{
    color:#7eb244;
    background: -webkit-linear-gradient(#43C6AC, #7eb244);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bold;
}
#messeges{
    text-align:center;
    padding:75px 0 45px;
    background:#f5f5f5;
}
#special{
    padding: 5% 0;
    text-align: center;
}
#special h2{
    font-size: 45px;
    color: #7eb244;
    margin-bottom: 5%;
    font-family: 'nunitoregular';
}
#special ul{
    margin: 0 auto;
    float: left;
    width: 100%;
    margin-bottom: -4%;
}
#special ul li{
    width: 48%;
    margin-right: 4%;
    margin-bottom: 4%;
    text-align: center;
    float: left;
}
#special ul li div.content  h3{
    margin: 6% 0 3%;
}
#special ul li div.content p{
    margin:0 auto 4%;
    color: #A6A9AA;
}
#special ul li img{
    width:22%;
    display: block;
    margin:0 auto;
}
#special ul li div.content h3 a{
    text-transform: uppercase;
    color: #7eb244;     
    font-family: 'nunitoregular';
    font-size: 30px;
}
#special .card {
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 60px 70px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#special ul li:last-child{
    margin-right: 0;
}
#special ul li div.content a.button{
    font-size: 18px;
    font-weight: bold;
}
/* video pages*/
.responsive-iframe {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
}
.responsive-iframe iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
}
.responsive-iframe video {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
}
#academic_calender ul li img{
    display: block;
    width: 100%;
}
/*faculties page starting*/
#faculties{
    padding: 30px 0;
    text-align: center;
}
#faculties .teachers{
    float: left;
    width: 23.5%;
    margin-right: 2%;
    text-align: center;
    margin-bottom: 2%;
}
#faculties .teachers:nth-child(4n) {
    margin-right: 0;
}
#faculties .teachers div.top{
    padding: 20px 0;
    border-top: 1px solid #7eb244;
    border-left: 1px solid #7eb244;
    border-right: 1px solid #7eb244;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#faculties .teachers div.bottom{
    background: #f5f5f5;
    padding: 20px 0;
}
#faculties .teachers h3{
    margin: 20px 0 5px;
    color:#000;
    font-size: 25px;
    font-weight: bold;
}
#faculties .teachers h5{
    color:#7eb244;
    font-size: 15px;
}
#faculties .teachers.last{
    margin-right: 0;
}
#top {
    text-align: center;
}
#spotlight h1 {
    font-size: 50px;
    font-family: 'open_sansbold';
}
#faculties span.thumb {
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    height: 150px;
}
/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.bx-wrapper img {
  max-width: 100%;
  display: block;
}
.bxslider {
  margin: 0;
  padding: 0;
}
ul.bxslider {
  list-style: none;
}
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}
/** THEME
===================================*/
.bx-wrapper {
}
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url('images/bx_loader.gif') center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}
.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url('images/controls.png') no-repeat 0 -32px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
.bx-wrapper .bx-next {
  right: 10px;
  background: url('images/controls.png') no-repeat -43px -32px;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}
.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url('images/controls.png') -86px -11px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}
.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url('images/controls.png') -86px -44px no-repeat;
  margin: 0 3px;
}
.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

/*responive*/
@media all and (max-width:1780px){
        #about .content{
            display:block;
            width:100%;
            text-align:center;
        }
        #about img{
            width:70%;
            display:inline-block;
        }
        #about p{
            text-align: justify;
            width: 100%;
        }
        
        
}
@media all and (max-width:1440px){
		#awards .box h4{
        	font-size: 20px;
        	letter-spacing: 2px;
        }
}
@media all and (max-width:1400px){
    .inner #fest ul li.widjet{
        width: 45%;
        margin-right: 5%;
    }
    .inner #fest ul li.widjet .tops{
        width: 70%
    }
    .inner #fest ul li.widjet .tops img{
        width: 100%;
    }
    .inner #fest ul li.widjet .bottom{
        width: 70%
    }
}

@media all and (max-width: 1280px){
    #top header .bottom nav ul li{
        margin-right:10px;
    }
    #activity  div.content div.programs{
        padding:37px 25px;
    }
    #achievements .wrapper .widget{
        float:left;
        width:48%;
        padding:0;
        margin-right:2%;
        margin-bottom:2%;
        text-align:center;
    }
    #achievements .wrapper .widgeter{
        margin-right:0;
    }
    #about .image .pop-over{
        display:none;
    }
}
@media (max-width: 1200px){
    #special ul li img {
        width: 30%;
    }
}


@media all and (max-width: 1020px){
}

@media (max-width: 1000px){
    #special ul li img {
        width: 40%;
    }
}
@media all and (max-width: 980px){
    #faculties .teachers{
        width: 32%;

    }
    #faculties .teachers:nth-child(3n){
        margin-right: 0 !important;
    }
    #faculties .teachers:nth-child(4n){
        margin-right: 2%;
    }
    #about section.image {
        display: none;
    }
    #top header .bottom {
        position: relative;
    }
    #top header .bottom nav{
        display:none;
    }
    .sidenav {
        background: #438cb5;
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        right: 0;
        overflow-x: hidden;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
        padding-top: 60px;
    }
    .sidenav a {
        text-decoration: none;
        font-size: 15px;
        color: #fff;
        display: block;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
        padding: 15px 0 15px 20px;
    }
    .sidenav .menu{
        width: 150px;
    }
    .openmenu{
        display: block;
        cursor:pointer;
        position: absolute;
        top: 41px;right: 40px;
        background: url(../images/menu.png);
        width: 30px;
        height: 24px;
    }
    .sidenav a:hover, .offcanvas a:focus{
        color: #3EB9C0;
    }
    .sidenav .closebtn {
        position: absolute;
        top: -30px;right: 25px;
        font-size: 40px;
        line-height: 2;
    }
    #about .pop-over{
        display:none;
    }
    #about section.content{
        width:95%;
        margin-left:0;
    }
    #about section.image{
        width:100%;
    }
    #about section.image img.bg{
        width:100%;
    }
    #academics{
        background-cover:no-repeat;
    }
    #academics div.academics{
        width:100%;
    }
    #academics img.pop-over{
        display:none;
    }
    #awards .box{
        width:49% !important;
        margin-right:2% !important;
        margin-bottom:2% !important;
    }
    #awards .box p b {
        font-weight: bold !important;
    }
    #awards .box:nth-child(2n){
        margin-right:0 !important;
    }
    #awards .box:nth-child(3n){
        margin-right:2%;
    }
    #testimonial ul li{
        width:100%;
    }
    #testimonial ul li div.content{
        padding-top:30px;
        padding-bottom:30px;
    }
    #testimonial ul li div.content p{
        font-size:20px;
    }
    #messeges div.bottom{
        float:left;
        width:48%;
        margin-left:2%;
        margin-bottom:2%;
    }
    #messeges div.second{
        margin-right:0;
    }
    #facilities div.class{
        width:50%;
    }
    #facilities div.smart{
        width:50%;
    }
    #activity  div.content{
        margin-top:35px;
    }
    #activity  div.content div.programs{
        width:100%;
        padding:30px 30px;
        margin-bottom:10px;
    }
    #activity  div.content div.img{
        width:100%;
    }
    #activity  div.content div.img img{
        width:100%;
    }
    #contact div.left{
        width:100%;
        
        float:left;
    }
    #contact section{
        width:90%;
        margin:10px 0;
    }
         .inner #fest ul li.widjet{
        width: 100%;
        margin-right: 0;
    }
    #academic{
        width:100%;
        text-align:center;
    }
    #testimonials ul li{
        width:100%;
        display:block;
    }
    #activities  img{
        display:block;
        width:100%;
    }
    #activities .pro{
        display:block;
        width:100%;
    }

}

@media all and (max-width: 900px){
    #awards .box{
        width:80%;
        margin-bottom:5%;
    }
    #awards .box h4{
        font-size:27px;
    }
    #awards .box h4 span{
        margin-top:15px;
        line-height:1.1em;
    }
}
@media (max-width: 850px){
    
    #special ul li img {
        width: 45%;
    }
    #special ul li div.content a.button {
        font-size: 15px;
    }
    #special .button {
        padding: 15px 44px
    }
    #special ul li div.content h3 {
        margin: 7% 0;
    }
    #special ul li div.content p {
        margin: 0 auto 4%;
    }
    #special h2 {
        font-size: 45px;
    }
}
@media all and (max-width: 800px){
    .inner #academics .image{
        width:100%;
        
    }
    .inner #academics .image img{
        margin-bottom:40px;
    }
    .inner #academics .content p{
        font-size:16px;
    }
}
@media all and (max-width: 780px){
    .inner #academics .image{
        width:100%;
    }
}
@media all and (max-width:768px){
    #contact section div.box .contact div.text{
        margin-right: 10px;
        width: 90%;
    }
    #gallery .links{
        width:100%;
    }
    #gallery nav ul li{
        width:49%;
    }
    #gallery .bottom ul li{
        width:49%;
        margin-right:2%;
    }   
    #gallery .bottom ul li:nth-child(2n){
        margin-right: 0 !important;
    }
    #gallery .bottom ul li:nth-child(3n){
        margin-right: 2%;
    }
    #gallery .bottom ul li.five,.six{
        float: left;
    }
    #spotlight .bg-transparent{
        padding: 170px 0
    }
    #faculties .teachers h3{
        font-size: 17px;
    }
    #faculties .teachers div.image{
        width: 150px;
        height: 150px;
    }
    footer #first .widget{
        width:100%;
        text-align: center;
    }
    #events li.fest{
        width:49%;
        margin-right:2%;
        margin-bottom:2%;
    }
    #events li:nth-child(3n){
        margin-right:2%;
    }
    #events li:nth-child(2n){
        margin-right:0;
    }
    #bottom div.countdown{
        width:50%;
    }
    #bottom div.countdown.first{
        border-bottom:1px solid #fff;
    }
    #bottom div.countdown.second{
        border-bottom:1px solid #fff;
        border-right:0;
    }
    #top header .bottom nav{
        width:70%;
    }
    #gallery img{
        width:100%;
    }
    
    #news .widget12{
        margin-right:0;
        display:inline-block;
        width:49%;
    }
    #news .widget13{
        width:49%;
        display:inline-block;
        margin-right:2%;
    }
    #messages .second .widget{
        width:100%;
        display:inline-block;
    }
    #spotlight{
        background:url(../images/spotlight.jpg) no-repeat center center;
    }
    body{
        
    }
    footer #seeyou1 .wrapper .seeyou1{
        text-align:left;
        width:100%;
    }
    footer #seeyou1 .wrapper .seeyou2{
        text-align:left;
        width:100%;
    }
    #facilities .widget{
        display:block;
        width:40%;
        margin-bottom:2%;
    }
    #video .widget{
        display:block;
        width:100%;
    }
    #gps img{
        width:90%;
        display:block;
        margin:2%;
    }
    #gps .contact{
        display:block;
        width:90%;
        margin-right:2%;
    }
    #news .widgeter{
        width:49%;
        display:block;
        margin-right:2%;
    }
    #testimonials{
        padding:0;
    }
    #missions .widget1{
        width:100%;
        display:block;
    }
    #missions .widget2{
        width:100%;
        display:block;
    }
    #academic .academic{
        width:100%;
    }
    #strength .ssss{
        width:50%;
    }
    #strength .ssssr{
        border-bottom:2px solid #fff;
        border-right:none;
        width:50%;
    }
    #strength .ssrrd{
        border-bottom:2px solid #fff;
    }
    #strength{
        background-size:cover;
    }
    #messages .first .widget-large h1{
        font-size:25px;
    }
    #about{
     text-align:center;
    }
    li{
        display:block;
        width:100%;
        margin-right:0;
    }
    #gallery .links{
     width:100%;    
    }
    #gallery .image ul li{
        width:49%;
    }
    #gallery .image ul li:nth-child(3n){
        margin-right: 2%;
    }
    #gallery .image ul li:nth-child(2n){
        margin-right: 0;
    }
    #special button {
        padding: 15px 38px;
    }
    #special ul li img {
        width: 20%;
    }
    #special ul li div.content h3 {
        margin: 4% 0 3%;
    }
    #special ul li div.content h3 a{
        font-size: 25px;
    }
    #special ul li div.content p{
        height: auto !important;
        font-size: 15px;
        text-align: justify;
        margin: 15px 0 30px;
    }
    #special ul li {
        margin-right: 0;
        height: auto !important;
        width: 100%;
    }
}   

@media all and (max-width: 680px){
    #awards .box h4{
        line-height:1.1em;
        font-size:19px;
    }
}
@media (max-width: 640px){
    #special,footer .top{
        padding: 40px 0;
    }
    #fest li.fest{
        width: 49%;
        margin-right: 2%;
        margin-bottom: 2%;
    }
    #fest li:nth-child(2n){
        margin-right: 0;
    }
/*    #awards .box {
        width: 100% !important;
        height: auto !important;
    }
    #awards .box */
    #faculties .teachers{
        width: 49%;
    }
    #faculties .teachers:nth-child(3n){
        margin-right: 2% !important;
    }
    #faculties .teachers:nth-child(2n){
        margin-right: 0 !important;
    }
    
}
@media all and (max-width:580px){
	#awards .box h4{
		font-size: 16px;

	}
    #faculties .teachers h3{
        font-size: 16px;
    }

}
@media (max-width: 500px){
    #special ul li img {
        width: 35%;
    }
    #special .card {
        padding: 59px 20px;
    }
    #special .button {
        padding: 13px 42px;
    }
    #special h2{
        margin-bottom: 20px;
    }
    #special ul li div.content a.button {
        font-size: 16px;
    }
    #main .content-item img {
        width: 90%;
    }
    #special h2,#special ul li div.content h3{
        font-size: 35px;
    }
    #special ul li div.content h3 a{
        font-size: 25px;
    }
}
@media all and (max-width:480px){
    #spotlight h1 {
        font-size: 45px;
    }
    #spotlight p, #spotlight a {
        font-size: 18px;
    }
    #about section.content h3 {
        font-size: 35px;
    }
    #awards h3 {
        font-size: 40px;
    }
    #middle div.ourmission div.mission h3, #middle div.ourvision div.vision h3 {
        font-size: 40px;
    }
    #academics div.academics h3 {
        font-size: 38px;
    }
    #messeges div.top h2 {
        font-size: 30px;
    }
    #gallery h3 {
        font-size: 38px;
    }
    #testimonial h3 {
        font-size: 38px;
        margin-bottom: 45px;
    }
    #events h3 {
        font-size: 36px;
        margin-bottom: 25px;
    }
    #gallery {
        padding: 32px 0 40px;
    }
    #awards {
        padding: 28px 0;
    }
    #awards ul {
        margin-bottom: -10% !important;
    }
    #awards .box {
        width: 100% !important;
        height: auto !important;
        margin-bottom: 10% !important;
    }
    #facilities {
        padding-bottom: 0;
    }
   .inner #spotlight h1{
        font-size: 45px;
   }
   #fest{
        padding: 25px 0 5px;
   }
   #fest li.fest{
        width: 100%;
        margin-right: 0;
        margin-bottom: 4%;
        height: auto !important;
    }
    #fest li.fest p{
        height: auto !important;
    }
   #contact section h3{
         font-size: 25px;
   }
   #contact section div.box .contact div.text{
        margin-right: 10px;
        width: 90%;
       
   }
   #messeges div.top img {
        width: 150px;
   }
    #testimonial {
        padding:80px 0;
    }
   #about section.content{
        padding: 65px 0 10px;
   }
   #awards{
        padding-bottom: 30px;
   }
   #facilities div.smart{
        height: auto !important;
        margin-bottom: 60px !important;
   }
   #map_canvas{
        height: 325px !important;
   }
   #video{
        padding: 55px 0;
   }
   footer #first .widget.img{
        margin: 30px 0;
   }
   #facilities{
        padding-top:40px;
   }
   #facilities h2{
        margin-bottom: 35px;
        font-size: 38px;
   }
   #activity h3 {
        font-size: 38px;
   }
   #video {
        padding: 40px 0 20px;
    }
   #video h3 {
    font-size: 36px;
   }
   #messeges div.top img{
        height: auto !important;
    }
    #events{
        padding:45px 0 0;
    }
    #events li.fest p{
        height: auto !important;
    }
    #gallery .bottom ul li{
        width:100%; 
    }
    #gallery .bottom ul li img{
        width:100%;
    }
    #achievements .wrapper .widget{
            float:left;
            width:90%;
            padding:0;
            margin-right:2%;
            margin-bottom:2%;
            text-align:center;
    }
    #achievements .wrapper .widgeter{
        margin-right:0;
    }
    #messages .first .widget-large{
        width:90%;
        display:block;
    } 
    #strength .wrapper .ssss{
        width:90%;
        border-right:none;
         border-bottom:2px solid #fff;
    } 
    #strength .ssssr{
        border-bottom:2px solid #fff;
        border-right:none;
        width:90%;
    }
    #strength .ssrrd{
        border-bottom:2px solid #fff;

    }
    #facilities .widget{
        display:block;
        width:90%;
        margin-bottom:2%;
    }
    #footer img{
        width:100%;
    }
    header {
        text-align:center;
    }
    header .bottom ul li{
        text-align: left;
    }
    header .bottom h1 a img{
        width:50%;
    }
    #middle div.ourvision{
        width:100%;
        margin-bottom:20px;
        height: auto !important;
    }
    #middle div.ourmission{
        width:100%;
        margin-bottom: 35px;
        height: auto !important;
    }
    #middle {
        padding: 50px 0 30px;
    }
    #awards .box{
        width:100%;
        margin-bottom:20px;
    }
    #awards .box h4{
        font-size:20px; 
    }
    #events li.fest{
        width:100%;
        margin-bottom:20px; 
        height:auto !important;
    }
    #messeges div.bottom{
        width:100%;
        margin-bottom:20px;
    }
    #messeges div.top{
        width:100%;
        margin-bottom:20px;
    }
    #bottom div.countdown{
        width:100%;
        border-bottom:2px solid #fff;
        border-right:0;
        margin-bottom:20px;
    }
    #bottom div.countdown h3{
        margin-bottom:20px;
    }
    #bottom div.countdown.last{
        border-bottom:0;
    }
    #facilities div.class{
        width:100%;
        margin-bottom:20px;
    }
    #facilities div.smart{
        width:100%;
        margin-bottom:20px;
    }
    #video .gallery{
        width:100%;
        margin-bottom:20px; 
        height: auto !important;
    }
    #testimonial div ul li{
        text-align:center;
        padding-top:40px;
    }
    #testimonial div ul li img{
        margin:0 auto;
        float:none;
        width: 50%;
    }
    #testimonial div ul li div.content{
        width:100%;
    }
    #activities li {
        width: 100%;
        height: auto !important;
    }
    #awards h3 {
        margin: 38px 0;
    }
    #testimonial ul li div.content p {
        font-size: 16px;
    } 
    .inner #gallery {
        padding: 32px 0 0;

    } 
    #middle div.description p {
        text-align: justify;
    }
    #gallery ul li{
        width: 49%;
        margin-right: 2%;
    }
    #gallery ul li:nth-child(2n){
        margin-right: 0 !important;
    }
    #gallery ul li:nth-child(3n){
        margin-right: 2%;
    }
}

@media all and (max-width:425px){
    #activity{
        padding: 40px 0;
    }
    #messages{
        padding: 40px 0;
    }

    #testimonial{
        padding: 40px 0;
    }
    #academics{
        padding: 40px 0;
    }
    #middle{
        padding:40px 0;
    }
    #about section.content {
        padding: 40px 0 10px;
    }
    #top header .bottom h1{
        padding: 15px 0;
    }
    .openmenu{
        top: 30px;
    }
}
@media (max-width: 360px){
    #special ul li img {
        width: 40%;
    }
    #faculties .teachers{
        width: 100%;
        margin-bottom:2%;
    }
    #gallery .image ul li{
        width: 100%;
    }
    #innerspotlight h1{
        font-size: 50px;
    }
    #gallery ul li{
        width: 100%;
        margin-right: 0 !important;
    }
}