* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
@font-face {
    font-family: 'nunitoregular';
    src: url('../fonts/nunito-regular-webfont.woff2') format('woff2'),
         url('../fonts/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'american_captainregular';
    src: url('../fonts/american_captain-webfont.woff2') format('woff2'),
         url('../fonts/american_captain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, section, article, aside, nav, footer, address {
	display: block;
}
body {
	font-family: 'nunitoregular';
	font-size: 17px;
	color: #333;
	overflow-x: hidden;
	min-width: 320px;
}
input,textarea,select{
	font-family: 'nunitoregular';
}
a{
	color: #333;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: 'nunitoregular';
}
.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
.left{
	float: left;
}
.right{
	float: right;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}

h2{
	font-family: 'american_captainregular';
	font-size: 43px;
	font-weight: bold;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 header section#top{
 	background-image: linear-gradient(to right,#76B151,#04C3A8);
	
}
header section#top section.wrapper{

}
header section#top section.wrapper div.left{
	padding-top: 4px;

}
header section#top section.wrapper div.left a{
	color: #fff;
	line-height: 5px;
}
header section#top section.wrapper div.left a span.icon{

}
header section#top section.wrapper div.left a span.icon small{
	width: 50px;
	height: 22px;
	display: inline-block;
	background: url('../images/sprite.png') no-repeat -3px -230px;
}
header section#top section.wrapper div.right{
	text-align: center;
}
header section#top section.wrapper div.right span.icon small{
	width: 50px;
	height: 22px;
	display: inline-block;
	background: url('../images/sprite.png') no-repeat 21px -4px;
}
header section#top section.wrapper div.right span.icon.icon2 small{
	 background-position: -60px -4px;
}
header section#bottom{
		padding-top: 47px;
}
header section#bottom section.wrapper{

}
header section#bottom section.wrapper h1.left.logo{

}
header section#bottom section.wrapper h1.left.logo a.thumb{
	width: 116px;
}
header section#bottom section.wrapper h1.left.logo a.thumb img{
	width: 86%;
	margin-top: 7px;

}
header section#bottom section.wrapper nav.right{
	
}
header section#bottom section.wrapper nav.right ul{
	line-height: 40px;
}
header section#bottom section.wrapper nav.right ul li{
	display: inline-block;
}
header section#bottom section.wrapper nav.right ul li a{
	margin-right: 38px;
	font-size: 14px;
}
header section#bottom section.wrapper nav.right ul li a.one{
	background: #77B150;
	border-radius: 9px;
	padding: 9px 21px;
	color: #fff;
}
section#spotlight{
	position: relative;
}
#spotlight section.slider{
	position: relative;
}
#spotlight section.slider::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.35);
}
section#spotlight section.slider img{
	width: 100%;
	padding-top: 2%;
}
section#spotlight section.slider div.content{
	text-align: center;

}
section#spotlight section.slider div.content h2{
	position: absolute;
	top: 30%;
	right: 39%;
	font-size: 42px;
	color: #fff;
	font-family: 'open_sanssemibold';
	font-weight: bold;
}
section#spotlight section.slider div.content h2 span{
	font-weight: bold;
	background: linear-gradient(#04C3A8,#76B151);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
section#spotlight section.slider div.content p{
	position: absolute;
	top: 34%;
    right: 27%;
    font-size: 20px;
    color: #fff;
}
section#spotlight section.slider div.content a.button{
	position: absolute;
	top: 39%;
	right: 45%;
	font-size: 22px;
	background-image: linear-gradient(to right,#76B151,#04C3A8);
	border-radius: 33px;
	padding: 9px 21px;
	color: #fff;
	border: 1px solid #fff;
}
section#about{

}
section#about section.top{

}
section#about section.top div.left{
	width: 50%;
}
section#about section.top div.left img{
	width: 100%;

}
section#about section.top div.right{
	width: 50%;
	padding: 4% 15% 0% 7%;
}
section#about section.top div.right h2{
	margin-left: 56%;
	font-size: 43px;
	font-weight: bold;

}
section#about section.top div.right h2 span{
	font-weight: bold;
	background: linear-gradient(#04C3A8,#76B151);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;	
}
section#about section.top div.right p{
	
	margin-top: 40px;
}
section#about section.bottom{
	background-color: #F5F5F5;
}
section#about section.bottom section.wrapper{
	padding: 3% 0% 3% 0%;
}
section#about section.bottom section.wrapper div.left.box{
	-webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	width: 48%;
	margin-right: 2%;

}

section#about section.bottom section.wrapper div.left.box div.top{
	background: url("../images/ourmission.jpg") no-repeat;
}
section#about section.bottom section.wrapper div.left.box div.top h2{
	text-align: center;
	padding: 10% 0% 10% 0%;
}	
section#about section.bottom section.wrapper div.left.box div.top h2 span{
	font-weight: bold;
	background: linear-gradient(#04C3A8,#76B151);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
section#about section.bottom section.wrapper div.left.box div.bottom{

}
section#about section.bottom section.wrapper div.left.box div.bottom p{
	padding:20px 20px 35px 23px;
}
section#about section.bottom section.wrapper div.right.box{
	-webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	width: 48%;
}
section#about section.bottom section.wrapper div.right.box div.top{
	background: url("../images/ourmission.jpg") no-repeat;
}
section#about section.bottom section.wrapper div.right.box div.top h2{
	text-align: center;
	padding: 10% 0% 10% 0%;
}
section#about section.bottom section.wrapper div.right.box div.top h2 span{
	font-weight: bold;
	background: linear-gradient(#04C3A8,#76B151);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
section#about section.bottom section.wrapper div.right.box div.bottom{

}
section#about section.bottom section.wrapper div.right.box div.bottom p{
	padding:20px 20px 84px 23px;
}
section#activities{
	background: url("../images/our-accadamics.jpg") no-repeat;
}
section#activities section.wrapper{

}
section#activities section.wrapper div.left{
	width: 45%;
	padding-top: 10px;
}
section#activities section.wrapper div.left h2{
	padding-top: 20%;
	color: #fff;
}
section#activities section.wrapper div.left h2 span{
	font-weight: bold;
	background: linear-gradient(#04C3A8,#76B151);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
section#activities section.wrapper div.left p{
	margin-bottom: 55px;
	color: #fff;
}
section#activities section.wrapper div.left a.button{
	border-radius: 23px;
	background-image: linear-gradient(to right,#76B151,#04C3A8);
	padding: 10px 32px;
}
section#activities div.right img{
	
}
section#activities div.right{
	width: 50%;
}

section#achievements{
	padding-bottom: 5%;
}
section#achievements section.wrapper{

}
section#achievements section.wrapper h2{
	float: right;
	padding: 10% 5% 5% 0%;
}
section#achievements section.wrapper h2 span{
	font-weight: bold;
	background: linear-gradient(#04C3A8,#76B151);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
section#achievements section.wrapper ul{


}
section#achievements section.wrapper ul li{
	width: 32%;
	padding-left: 2%;
	float: left;

}
section#achievements section.wrapper ul li div.top{
	background-color: #F5F5F5;
	
}
section#achievements section.wrapper ul li div.top div.left{
	width:45%;
}
section#achievements section.wrapper ul li div.top div.left img{
	width: 100%;

}
section#achievements section.wrapper ul li div.right{
	width: 55%;
}
section#achievements section.wrapper ul li div.right h2{
	padding:17px;
	font-size: 30px;
}
section#achievements section.wrapper ul li div.right h2 span{
	font-weight: bold;
	background: linear-gradient(#04C3A8,#76B151);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
section#achievements section.wrapper ul li div.bottom{

}
section#achievements section.wrapper ul li div.bottom p{
	font-size: 15px;
}
section#gallery{
	background:#F5F5F5;
	padding: 65px;
}
section#gallery section.wrapper{
	text-align: center;
}
section#gallery section.wrapper div.head{

}
section#gallery section.wrapper div.head h2{
	text-align: center;
	padding: 30px;
}
section#gallery section.wrapper div.head h2 span{
	padding-left: 10px;
	font-weight: bold;
	background: linear-gradient(#04C3A8,#76B151);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
section#gallery section.wrapper ul{
	padding-bottom: 3%;
}
section#gallery section.wrapper ul li{
	float: left;
	width: 30%;
}
section#gallery section.wrapper ul li a{

}
section#gallery section.wrapper ul li a img{
	width: 100%;
	padding: 0px 0px 3% 7%;
}

section#gallery section.wrapper a.button{
	background-image: linear-gradient(to right,#76B151,#04C3A8);
	border-radius: 20px;
	padding: 10px 34px;
	color: #fff;
}

section#banner{
	background-image:
	linear-gradient(to right,#76B151,#04C3A8);
	text-align: center; 
	color: #fff;
}
section#banner section.wrapper{

}
section#banner section.wrapper h5{
	padding-top: 10%;
	margin-bottom: 2%;
	font-size: 19px;
}
section#banner section.wrapper h3{
	padding-bottom: 10%;
	font-size: 30px;
}
section#innovations{
	margin-bottom: 5%;

}
section#innovations section.wrapper{

}
section#innovations section.wrapper div.head{

}
section#innovations section.wrapper div.head h2{
	padding: 5% 0% 5% 0%;
	text-align: center;
	font-size: 40px;
	color: #7EB244;
	font-family: 'nunitoregular';
	font-weight: normal;

}
section#innovations section.wrapper ul{

}
section#innovations section.wrapper ul li.card{
	
	float: left;
	width: 48%;
	-webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	padding-bottom: 5%;
}
section#innovations section.wrapper ul li.card:nth-child(2){
	margin-left: 4%;

}
section#innovations section.wrapper ul li.card a.thumb{

} 
section#innovations section.wrapper ul li.card a.thumb img{
	width: 18%;
	margin: 10% 0% 0% 41%;
}
section#innovations section.wrapper ul li.card h3{
	text-align: center;
	margin: 4% 0% 4% 0%;
	font-size: 30px;
	color: #91BD5F;
}
section#innovations section.wrapper ul li.card p{
	padding:0% 13% 4% 13%;
	font-size: 12px;
	color: #B3B1C9;
}
section#innovations section.wrapper ul li.card a.button{
	color: #6E6E6E;
	font-weight: bold;
}
section#testimonial{
    background-image: url("../images/Testimonials.jpg");
    background-repeat: no-repeat;
}
section#testimonial section.wrapper{

}
section#testimonial section.wrapper div.head{

}
section#testimonial section.wrapper  div.head h2{
	padding-top: 10%;
}
section#testimonial section.wrapper  div.head h2 span{
	font-weight: bold;
	background: linear-gradient(#04C3A8,#76B151);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
section#testimonial section.wrapper ul{
	    padding: 5% 0% 10% 0%;
}
section#testimonial section.wrapper ul li.testimonial{
	width: 100%;
	background-color: #fff;	
	display: inline-block;
}
section#testimonial section.wrapper ul li.testimonial:nth-child(1){
	width: 45%;
	padding: 1px 1px 26px 1px;
	margin: 0% 1% 1% 0%;
}
section#testimonial section.wrapper ul li.testimonial:nth-child(2){
	width: 45%;
	margin: 0% 0% 1% 1%;
	padding: 1px;
}
section#testimonial section.wrapper ul li.testimonial:nth-child(3){
	width: 45%;
	margin: 1% 1% 0% 0%;
	padding: 1px 1px 27px 1px;
}
section#testimonial section.wrapper ul li.testimonial:nth-child(4){
	width: 45%;
	padding: 1px 1px 11px 1px;
	margin: 1% 0% 0% 1%;
}
section#testimonial section.wrapper ul li.testimonial div{
}
section#testimonial section.wrapper ul li.testimonial div.left.thumb{
	width: 25%;
}
section#testimonial section.wrapper ul li.testimonial div.test.thumb img{
}
section#testimonial section.wrapper ul li.testimonial div.right{
	width: 75%;
}
section#testimonial section.wrapper ul li.testimonial div.right p{
	padding: 8% 5% 0% 5%;
	font-size: 15px;
}
section#testimonial section.wrapper ul li.testimonial div.right h5{
	padding-left: 5%;
	margin-top: 2%;
	font-weight: bold;
}
section#testimonial section.wrapper ul li.testimonial div.right h5 span{
	font-weight: none;
}
section#news{

}
section#news section.wrapper{

}
section#news section.wrapper div.head{

}
section#news section.wrapper div.head h2{
	text-align: center;
	padding: 4% 0%;
}
section#news section.wrapper div.head h2 span{
	font-weight: bold;
	background: linear-gradient(#04C3A8,#76B151);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
section#news section.wrapper ul{
	padding-bottom: 7%;
}
section#news section.wrapper ul li {
	width: 30%;
	float: left;
	background: #F5F5F5;
}
section#news section.wrapper ul li:nth-child(2){
	margin: 0% 2%; 
}
section#news section.wrapper ul li div.top {

}
section#news section.wrapper ul li div.top img{
	width: 100%;
}
section#news section.wrapper ul li div.bottom{
	margin-top: 5%;
}
section#news section.wrapper ul li div.bottom h3{
	text-align: center;
	font-family: 'american_captainregular';
	font-size: 30px;
}
section#news section.wrapper ul li div.bottom h3 span{
	background: linear-gradient(#04C3A8,#76B151);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
section#news section.wrapper ul li div.bottom p{
	font-size: 15px;
	margin: 5% 0%;
	padding: 0% 3%;
}
section#news section.wrapper ul li div.bottom p:nth-child(2){

}
section#news section.wrapper ul li div.bottom h5{
	padding:  0% 3% 5% 0%;
	margin-top: 8%;
	float: right;
	background: linear-gradient(#04C3A8,#76B151);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
section#news section.wrapper ul li:nth-child(2) div.bottom h5{
	margin-top: 34.5%;
}
section#news section.wrapper ul li:nth-child(3) div.bottom h5{
	margin-top: 14.5%;

}
section#messages{
	background: #F5F5F5;
}
section#messages section.wrapper{

}
section#messages section.wrapper div{
	float: left;
	width: 47%;
}
section#messages section.wrapper div.message1{

}
section#messages section.wrapper div.message2{
	margin-left: 3%;

}
section#messages section.wrapper div h2{
	text-align: center;
	padding-top: 16%;
}
section#messages section.wrapper div h2 span{
	font-weight: bold;
	background: linear-gradient(#04C3A8,#76B151);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
section#messages section.wrapper  div img{

}
section#messages section.wrapper  div.message1 img{
	padding: 6% 0% 6% 31%;
}
section#messages section.wrapper  div.message2 img{
	padding: 6% 0% 8% 31%;
}
section#messages section.wrapper  div  h3{
	text-align: center;
	font-family: 'american_captainregular';
	font-size: 30px;
	font-weight: bold;	
}
section#messages section.wrapper  div  h5{
	text-align: center;
	margin: 3% 0% 5% 0%;
	font-family: 'american_captainregular';
	font-size: 30px;
	font-weight: bold;
	background: linear-gradient(#04C3A8,#76B151);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
section#messages section.wrapper  div  p{
	font-size: 15px;
	padding-bottom: 22%;
}
section#counts{
	background-image: url("../images/count.jpg");
}
section#counts section.wrapper{

}
section#counts section.wrapper div.widget{
	float: left;
	width: 25%;
	text-align: center;
	padding: 3% 0% 4% 0%;
	border-right: 2px solid #fff;
}
section#counts section.wrapper div.widget:nth-child(4){
	border: none;
}
section#counts section.wrapper div.widget span.icon{
	background: url('../images/sprite.png') no-repeat;
	background-position: -3px -42px;
	width: 114px;
	height: 90px;
	display: inline-block;

}
section#counts section.wrapper div.widget:nth-child(2) span.icon{
	background-position: -127px -36px;
	width: 94px;
	height: 94px;
}
section#counts section.wrapper div.widget:nth-child(3) span.icon{
	background-position: -237px -42px;
	width: 82px;
	height: 82px;
}
section#counts section.wrapper div.widget:nth-child(4) span.icon{
	background-position: -345px -38px;
	width: 74px;
	height: 91px;
}
section#counts section.wrapper div.widget h4{
	margin-top: 6%;
	color: #fff;
	font-family: 'american_captainregular';
	font-size: 30px;
	font-weight: bold;

}
section#faculties{

}
section#faculties section.wrapper{

}
section#faculties section.wrapper div.head{

}
section#faculties section.wrapper div.head h2{
	text-align: center;
	padding: 8% 0%;
}
section#faculties section.wrapper div.head h2 span{
	font-weight: bold;
	background: linear-gradient(#04C3A8,#76B151);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
section#faculties div.faculty{
	float: left;
	width: 25%;
	text-align: center;
}
section#faculties span.img-container{
	display: block;
	
}
section#faculties div.faculty span img{
	width: 100%;
	display: block;
	
}
section#faculties section.wrapper div.faculty span.icon.black{
	background-image: linear-gradient(to right,#76B151,#04C3A8);
	display: inline-block;
	border-radius: 50%;
	height: 110px;
	width: 110px;
}
section#faculties section.wrapper div.faculty:nth-child(2) span.icon.black.high{
	background-image: linear-gradient(to right,#4A4853,#4A4853);
}
section#faculties section.wrapper div.faculty span.icon.black small{
	background: url('../images/sprite.png') no-repeat;
	background-position: -170px -148px;
	width: 49px;
	height: 33px;
	display: inline-block;
	margin-top: 36px;
}
section#faculties section.wrapper div.faculty:nth-child(2) span.icon.black small{
	
	background-position: -3px -139px;
	width: 51px;
	height: 42px;
	display: inline-block;
	margin-top: 30px;
}
section#faculties section.wrapper div.faculty:nth-child(3) span.icon.black small{
	background-position: -59px -139px;
	width: 51px;
	height: 58px;
	display: inline-block;
	margin-top: 24px;
}
section#faculties section.wrapper div.faculty:nth-child(4) span.icon.black small{
	background-position: -115px -141px;
	width: 49px;
	height: 49px;
	display: inline-block;
	margin-top: 30px;
}
section#faculties section.wrapper div.faculty h3{
	text-align: center;
	margin: 12% 0%;
	font-family: 'american_captainregular';
	font-size: 30px;
	font-weight: bold;

}
section#faculties section.wrapper div.faculty p{
	padding-bottom: 30%;
	font-size: 15px;
}
section#activities2{
	background-image: url('../images/acivities.jpg');
	text-align: center;
}
section#activities2 section.wrapper{

}
section#activities2 section.wrapper div.head{
	text-align: initial;
}
section#activities2 section.wrapper div.head h2{
	padding-top: 5%;
}
section#activities2 section.wrapper div.head h2 span{
	font-weight: bold;
	background: linear-gradient(#04C3A8,#76B151);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
section#activities2 section.wrapper div.activity{
	text-align: initial;
}
section#activities2 section.wrapper div.activity div.left.thumb{
	width: 50%;
}
section#activities2 section.wrapper div.activity div.left.thumb img{

}
section#activities2 section.wrapper div.activity div.right{
	background-color: #fff;
	width: 50%;
}
section#activities2 section.wrapper div.activity div.right h3{
	padding-top: 5%;
	margin: 0% 0% 5% 5%;
	font-family: 'american_captainregular';
	font-weight: bold;
	font-size: 30px;
}
section#activities2 section.wrapper div.activity div.right h3 span{
     font-weight: bold;
     background: linear-gradient(#04C3A8,#76B151);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
section#activities2 section.wrapper div.activity div.right p{
	padding: 0% 5% 25.5% 5%;
}
section#activities2 section.wrapper a.button{
	display: inline-block;
	background-image: linear-gradient(to right,#76B151,#04C3A8);
    border-radius: 20px;
    padding: 10px 34px;
    color: #fff;
    margin: 5% 0%;
	font-size: 20px;
}
section#videos{

}
section#videos section.wrapper{

}
section#videos section.wrapper div.head{

}
section#videos section.wrapper div.head h2{
	    padding: 9% 0% 5% 0%;
}
section#videos section.wrapper div.head h2 span{
	font-weight: bold;
	background: linear-gradient(#04C3A8,#76B151);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
section#videos section.wrapper ul{

}
section#videos section.wrapper ul li{
	float: left;
	width: 30%;
	margin-right: 3%;
	text-align: center;
}
section#videos section.wrapper ul li div.top{
	position: relative;

}
section#videos section.wrapper ul li div.top a{

}
section#videos section.wrapper ul li div.top a img{
	width: 100%;
}
section#videos section.wrapper ul li div.top img.icon{
	width: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
section#videos section.wrapper ul li div.bottom{

}
section#videos section.wrapper ul li div.bottom h4{
	padding: 10% 0% 22% 0%;
	font-family: 'american_captainregular';
	font-size: 30px;
	font-weight: bold;
}
section#contact{
	background-color: #F5F5F5;
}
section#contact section.left{
	width: 50%;
}
section#contact section.right{
	width: 40%;
	width: 30%;
}
section#contact section.right h3{
	font-size: 47px;
	font-family: 'american_captainregular';
	font-weight: bold;
	padding-top: 7%;
}
section#contact section.right h3 span{
	font-weight: bold;
	background: linear-gradient(#04C3A8,#76B151);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
section#contact section.right div.details{

}
section#contact section.right div.details div.contact{
	padding-top: 2%;
	font-size: 14px;
	color: #B2B2B2;
}
section#contact section.right div.details div.contact a{

}
section#contact section.right div.details div.contact a b{

}
section#contact section.right div.details div.contact a small.mobile{
	background: url("../images/sprite.png") no-repeat;
	background-position: 3px -201px;
	display: inline-block;
	height: 20px;
	width: 30px;
} 
section#contact section.right div.details div.contact a small.mail{
	background: url("../images/sprite.png") no-repeat;
	background-position: -33px -201px;
	height: 17px;
	width: 23px;
	display: inline-block;
}
section#contact section.right div.details div.contact span{

}
section#contact section.right div.details div.contact span b{

}
section#contact section.right div.details div.contact span small.location{
	background: url("../images/sprite.png") no-repeat;
	background-position: -66px -201px;
	display: inline-block;
	height: 28px;
	width: 21px;
}
footer{

}
footer section.top{
	background-image: linear-gradient(to right,#76B151,#04C3A8);
	color: #fff;
}
footer section.top section.wrapper{

}
footer section.top section.wrapper div.item{
	float: left;
	width: 32%;
	padding: 5% 0%;
}
footer section.top section.wrapper div.item h4{
	font-family: 'american_captainregular';
	font-weight: bold;
	font-size: 25px;
}
footer section.top section.wrapper div.item p{
	font-size: 14px;
	padding-top: 2%;
}
footer section.top section.wrapper div.item h1{
	text-align: center;
	color: #fff;
	font-size: 50px;
}
footer section.top section.wrapper div.item h1 a.thumb{
	color: #fff;
	font-size: 60px;
	font-weight: bold;
}
footer section.top section.wrapper h1 a.thumb img{

}
footer section.bottom{
	text-align: center;
	background-color: #43434E;
	color: #fff;
}
footer section.bottom section.wrapper{

}
footer section.bottom section.wrapper p{
	font-family: 'nunitoregular';
	padding: 1.5%;
	font-size: 14px;
}
footer section.bottom section.wrapper p a{
	color: #fff;
}











